In [ ]:
import pandas as pd
df_pokemon = pd.read_csv('pokemon.csv')

In [ ]:
#Controllo valori nulli in ogni colonna
valori_nulli = df_pokemon.isnull().sum()

#Visualizza solo le colonne con almeno 1 valore nullo
print(valori_nulli[valori_nulli > 0])

#si ci sono 386 valori nulli. 
#Nelle colonne categoriali la soluzione comune è sostituire i nulli con "None" o "Nessuno".
#Nelle colonne con cifre è comune sostituire i valori con una media, una mediana o una moda.
#Nelle colonne descrittive o testuali è comune sostituire con per esempio una stringa "sconosciuto"

In [ ]:
#Eliminiamo i null.
df_pokemon_clean = df_pokemon.dropna()0.